@import '_content/Microsoft.AspNetCore.Components.QuickGrid/Microsoft.AspNetCore.Components.QuickGrid.25o87uqmvr.bundle.scp.css';

/* /Layout/MainLayout.razor.rz.scp.css */
.page[b-mk76uf9nkq] {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

main[b-mk76uf9nkq] {
    flex: 1;
}

article[b-mk76uf9nkq] { height: 100% }

.top-row[b-mk76uf9nkq] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.top-row[b-mk76uf9nkq]  a, .top-row[b-mk76uf9nkq]  .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
    text-decoration: none;
}

.top-row[b-mk76uf9nkq]  a:hover, .top-row[b-mk76uf9nkq]  .btn-link:hover {
    text-decoration: underline;
}

.top-row[b-mk76uf9nkq]  a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 640.98px) {
    .top-row[b-mk76uf9nkq] {
        justify-content: space-between;
    }

    .top-row[b-mk76uf9nkq]  a, .top-row[b-mk76uf9nkq]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-mk76uf9nkq] {
        flex-direction: row;
    }

    .sidebar[b-mk76uf9nkq] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-mk76uf9nkq] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-mk76uf9nkq]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }
}
/* /Pages/Home.razor.rz.scp.css */
.pageContent[b-rz9ew92z0i] {
    background-image: url("/YoshiSets/resources/yoshi_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-color: var(--bgcolor);
    text-align: center;
    padding-top: 1rem;
    height: 100%;
    color: var(--lettercolor);
}

.light-theme[b-rz9ew92z0i] {
    --lettercolor: black;
    --menucolor: rgb(210, 210, 210);
    --bgcolor: white;
    --whitecolor: white;
    --lightcolor: whitesmoke;
    --researchinputcolor: white;
    --borderhover: gray;
    --borderfocus: black;
    --greencolor: rgb(230, 255, 228);
    --lightgreencolor: rgb(189, 255, 184);
    --redcolor: rgb(255, 218, 218);
    --lightredcolor: rgb(255, 233, 233);
    --buttonnumbercolor: blue;
    --buttonhover: #c0c9dc;
}

.dark-theme[b-rz9ew92z0i] {
    --lettercolor: white;
    --menucolor: rgb(43,42,51);
    --bgcolor: rgb(16,18,24);
    --whitecolor: rgb(29, 34, 48);
    --lightcolor: rgb(35, 41, 57);
    --researchinputcolor: rgb(66,65,77);
    --borderhover: gray;
    --borderfocus: lightgray;
    --greencolor: rgb(17, 72, 28);
    --lightgreencolor: rgb(21, 84, 33);
    --redcolor: rgb(146, 46, 48);
    --lightredcolor: rgb(168, 54, 56);
    --buttonnumbercolor: white;
    --buttonhover: rgb(67, 67, 86);
}

/* Top Menu */

.menu[b-rz9ew92z0i] {
    background-color: var(--menucolor);
    display: flex;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin: 0rem 2rem;
    min-width: 736px
}

.research_zone[b-rz9ew92z0i] {
    margin: 0 10px;
    display: flex;
}

.research[b-rz9ew92z0i] {
    margin: 0 10px 0 0;
    display: grid;
}

.research label[b-rz9ew92z0i] {
    padding: 0 5px;
}

.research input[b-rz9ew92z0i] {
    margin: 5px 0;
    padding: 0 10px;
    border: 2px solid var(--researchinputcolor);
    border-radius: 100px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    background-color: var(--researchinputcolor);
    color: var(--lettercolor);
}

.research input:is(:hover)[b-rz9ew92z0i] {
    border: 2px solid var(--borderhover);
}

.research input:focus[b-rz9ew92z0i] {
    border: 2px solid var(--borderfocus);
    outline: none;
}

.show[b-rz9ew92z0i] {
    display: block;
}

.toggles[b-rz9ew92z0i] {
    flex-grow: 1;
}

.toggles label[b-rz9ew92z0i] {
    transform: translateY(35%);
}

/* LightMode Button */

.lightmode_input[b-rz9ew92z0i] {
    display: flex;
    transform: translateY(20%);
}

.lightmode_input div[b-rz9ew92z0i] {
    margin-left: 10px;
}

.lightmode_input div input[b-rz9ew92z0i] {
    transform: translateY(5%);
}

.checkbox-wrapper-2 .ikxBAC[b-rz9ew92z0i] {
    appearance: none;
    background-color: rgb(39, 61, 118);
    border-radius: 72px;
    border-style: none;
    flex-shrink: 0;
    height: 20px;
    margin: 0;
    position: relative;
    width: 40px;
}

.checkbox-wrapper-2 .ikxBAC[b-rz9ew92z0i]::before {
    bottom: -6px;
    content: "";
    left: -6px;
    position: absolute;
    right: -6px;
    top: -6px;
}

.checkbox-wrapper-2 .ikxBAC[b-rz9ew92z0i],
.checkbox-wrapper-2 .ikxBAC[b-rz9ew92z0i]::after {
    transition: all 200ms ease-out;
}

.checkbox-wrapper-2 .ikxBAC[b-rz9ew92z0i]::after {
    background-color: white;
    border-radius: 50%;
    content: "";
    height: 14px;
    left: 3px;
    position: absolute;
    top: 3px;
    width: 14px;
}

.checkbox-wrapper-2 input[type=checkbox][b-rz9ew92z0i] {
    cursor: default;
}

.checkbox-wrapper-2 .ikxBAC:hover[b-rz9ew92z0i] {
    background-color: rgb(25, 38, 74);
    transition-duration: 0s;
}

.checkbox-wrapper-2 .ikxBAC:checked[b-rz9ew92z0i] {
    background-color: rgb(176, 176, 176);
}

.checkbox-wrapper-2 .ikxBAC:checked[b-rz9ew92z0i]::after {
    background-color: white;
    left: 23px;
}

.checkbox-wrapper-2 :focus:not(.focus-visible)[b-rz9ew92z0i] {
    outline: 0;
}

.checkbox-wrapper-2 .ikxBAC:checked:hover[b-rz9ew92z0i] {
    background-color: gray;
}

/* Quickgrid */
.array[b-rz9ew92z0i] {
    width: max-content;
    display: inline-block;
    margin-bottom: 10px;
}

[b-rz9ew92z0i] .grid {
    margin-top: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

[b-rz9ew92z0i] th {
    background-color: var(--lightcolor);
    padding: 5px;
}

[b-rz9ew92z0i] .col-title {
    display:block;
    text-align:center;
}

[b-rz9ew92z0i] tr {
    background-color: var(--lightcolor);
}

[b-rz9ew92z0i] tr:nth-of-type(2n+1) {
    background-color: var(--whitecolor);
}

[b-rz9ew92z0i] .score {
    min-width: 61px;
}

[b-rz9ew92z0i] tr:has(input) .score {
    background-color: var(--lightredcolor);
}

[b-rz9ew92z0i] tr:has(input):nth-of-type(2n+1) .score {
    background-color: var(--redcolor);
}

[b-rz9ew92z0i] tr:has(input:checked) .score {
    background-color: var(--lightgreencolor);
}

[b-rz9ew92z0i] tr:has(input:checked):nth-of-type(2n+1) .score {
    background-color: var(--greencolor);
}

[b-rz9ew92z0i] .center {
    text-align: center
}

[b-rz9ew92z0i] .dateSize {
    min-width: 100.1px;
}

[b-rz9ew92z0i] .iconcolumn {
    min-width: 68px;
}

[b-rz9ew92z0i] .playernames {
    min-width: 240px;
    max-width: 240px;
}

[b-rz9ew92z0i] .quickgrid[theme=grid] > tbody > tr > td {
    padding: 5px 10px 5px 10px;
    height: 50px;
}

[b-rz9ew92z0i] .full-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

[b-rz9ew92z0i] .tournament {
    min-width: 410px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* Custom page links */

.page-buttons[b-rz9ew92z0i] {
    align-items: center;
}

.page-buttons button[b-rz9ew92z0i] {
    background-color: var(--whitecolor);
    color: var(--buttonnumbercolor);
    padding: 0.50rem 0.75rem;
    border: gray 1px solid;
    min-width: 45px;
}

.page-buttons button:first-child[b-rz9ew92z0i] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.page-buttons button:last-child[b-rz9ew92z0i] {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.page-buttons button:active[b-rz9ew92z0i] {
    color: var(--bgcolor);
}

.page-buttons button:hover:not(.current)[b-rz9ew92z0i] {
    background: var(--buttonhover);
}

.page-buttons button.current[b-rz9ew92z0i] {
    background: #3771f4;
    color: white;
}

.dots:hover[b-rz9ew92z0i] {
    cursor: context-menu;
    background-color: var(--whitecolor) !important;
}

.dots:active[b-rz9ew92z0i] {
    color: var(--buttonnumbercolor) !important;
}

@media (max-width: 1265px) {
    [b-rz9ew92z0i] .dateSize {
        display: none;
    }
}

@media (max-width: 1180px) {
    .toggles[b-rz9ew92z0i] {
        display: none;
    }

    .lightmode_input[b-rz9ew92z0i] {
        justify-content: flex-end;
        flex-grow: 1;
    }

    [b-rz9ew92z0i] .tournament {
        min-width: 250px;
        max-width: 250px;
    }
}

@media (max-width: 1020px) {
    [b-rz9ew92z0i] .playernames {
        min-width: 150px;
        max-width: 150px;
    }
}

@media (max-width: 863px) {
    .color_theme_text[b-rz9ew92z0i] {
        display: none;
    }
}
